
.cards-grid {
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
